importFrom(msm, rtnorm)
import(igraph, Matrix, snow)

export(
	BinGraph,
	CheckAttributes,
	CreateGraph, 
	CreateGrid, 
	DistGraph, 
	GraphDiffusion, 
	GraphMFPT,
	Kfct,
	Knet, 
	Knode, 
	MarkovCentrality, 
	plot.Knet, 
	SpreadHits
)

useDynLib(SANTA)